@page "{id:int}"
@model ProductCatalogue.Web.Pages.DetailsModel
@{
    ViewData["Title"] = "Product Details";
}

<h1>Product Details</h1>

@if (Model.Product != null)
{
    <div>
        <h4>@Model.Product.Name</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                ID
            </dt>
            <dd class="col-sm-10">
                @Model.Product.Id
            </dd>
            <dt class="col-sm-2">
                Price
            </dt>
            <dd class="col-sm-10">
                @Model.Product.Price.ToString("C")
            </dd>
            <dt class="col-sm-2">
                Stock
            </dt>
            <dd class="col-sm-10">
                @Model.Product.Stock
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="/Orders/Create" asp-route-productId="@Model.Product.Id" class="btn btn-primary">Place Order</a> |
        <a asp-page="/Products/Index">Back to List</a>
    </div>
}
else
{
    <p>Product not found.</p>
}
